.header {
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__logo {
        display: flex;
        align-items: center;
    }
    .header__text {
        margin-left: 16px;
        .header__title {
            font-weight: 700;
            line-height: 24px;
            color: #000000;
        }
        .header__subtitle {
            font-size: 14px;
            line-height: 17px;
            color: #9d9d9d;
        }
    }

    .header__buttons {
        display: flex;
        align-items: center;
        .header__cart {
            cursor: pointer;
            margin-right: 30px;
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #5c5c5c;
            svg {
                margin-right: 10px;
            }
            &:hover {
                svg {
                    path {
                        stroke: lighten($color: #9b9b9b, $amount: 10%);
                    }
                }
                color: lighten($color: #5c5c5c, $amount: 10%);
            }
        }
        .header__favorite {
            margin-right: 30px;
            cursor: pointer;
            &:hover {
                svg {
                    path {
                        fill: lighten($color: #9b9b9b, $amount: 10%);
                    }
                }
            }
        }
        .header__account {
            cursor: pointer;
            &:hover {
                svg {
                    path {
                        fill: lighten($color: #9b9b9b, $amount: 10%);
                    }
                }
            }
        }
    }
}
.hr {
    border: 1px solid #eaeaea;
}
