html,
body {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

#root {
    background-color: #e7f6ff;
    padding: 85px 0;
    min-height: 100vh;
    // color: darken($color: #f2f2f2, $amount: 10%);
}
.wrapp {
    width: 1080px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
}
main {
    padding: 45px 60px;
}
