.slider {
    margin: 2.25rem 3rem;
    position: relative;
    height: 300px;
    .slider__move-forward {
        border: none;
        padding: 0;
        background-color: transparent;
        position: absolute;
        top: calc(50% - 17px);
        right: -17px;
        cursor: pointer;
    }
}

@media (max-width: 1020px) {
    .slider {
        margin: 2.25rem 2rem;
    }
}

@media (max-width: 745px) {
    .slider {
        display: none;
    }
}
