.slider {
    margin: 45px 60px;
    position: relative;
    height: 300px;
    .slider__move-forward {
        border: none;
        padding: 0;
        background-color: transparent;
        position: absolute;
        top: calc(50% - 17px);
        right: -17px;
        cursor: pointer;
    }
}
